.footer__links {
  list-style-type: none;
  padding: 0;
  margin: 64px 0 0;
}

@media screen and (min-width: 768px) {
  .footer__links {
    margin: 88px 0 24px;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .footer__links {
    margin: 92px 0 24px;
  }
}