.cover__overlay {
  width: 100%;
  min-height: 62.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.cover__overlay::before {
  content: "";
  width: 100%;
  min-height: 62.5vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity .3s;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }

  .cover__overlay::before {
    min-height: 740px;
  }
}